
*{
    margin:0;
    padding:0;
    background:black;
    color:white;
    box-sizing: border-box;
    /* font-family: "Poppins", sans-serif; */
}
#sidebar{
    position:fixed;
    /* top:0; */
    width:15rem;
    left:-15rem;
    height:100%;
    background-color:rgb(35, 34, 34);
    transition:all 0.4s ease-in 0s;
    z-index: 1;
    border-right:1.5px solid #FF5F1F;
}
#container{
    top:3rem;
   
}
.content{
    position:absolute;
    top:1rem;
    width:15rem;
    height:100%;
    border-right:1.5px solid #FF5F1F;
}
#check{
    display:none;
}
#bars{
position:absolute;
top:1rem;
left:1rem;
font-size: 1.5rem;
}
#mark{
    z-index:2;
    position:absolute;
    left:-5rem;
    top:1rem;
    font-size: 1.5rem;
    background-color:rgb(35, 34, 34);
    transition:all 0.4s ease-in 0s;
}
#check:checked~ #sidebar{
    left:0;
}
#check:checked~ label #mark{
  left:13rem;
}
#check:checked~ label #bars{
    display:none;
}
aside{
    position:absolute;
    height:100vh;
    width:15rem;
    background-color:rgb(35, 34, 34);
    border-right:1.5px solid #FF5F1F;
}
a,h2,h3{
    background-color:rgb(35, 34, 34) ;
}
aside a{
    display:flex;
    text-decoration: none;
    margin-top: 2rem;
}
aside i{
    margin:0 1rem 0 1rem;
    background-color:rgb(35, 34, 34) ;
}
#sidetitle{
    position:relative;
    top:0.75rem;
    padding-left: 1rem;
}
#lower{
    position:relative;
    height:100%;
    width:15rem;
    top:25vh;
    background-color:rgb(35, 34, 34) ;
}
#title{
    height:4rem;
    width:20rem;
    display:flex;
    align-items:center;
    justify-content: center;
    margin:0 30rem 0 30rem;
    border:2px solid white;
    /* animation:titleanimate 5s ease-in 0 infinte normal; */
}
#main{
    display: flex;
    justify-content:space-between;
    align-items:flex-end;
    font-family: "Poppins", sans-serif;
}
.main_content{
    display: inline-block;
    border-radius: 10px;
    background-color:rgb(35, 34, 34) ;}
    
#todo{
    height:33rem;
    width:15rem;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    background-color: black;
}
#todolist{
    height:12rem;
    width:15rem;
    background-color:rgb(35, 34, 34) ;
    border-radius: 10px;
    border-right:1.5px solid #FF5F1F;
}
#emails{
    height:20rem;
    width:15rem;
    background-color:rgb(35, 34, 34) ;
    border-radius: 10px;
    border-right:1.5px solid #FF5F1F;
}
#calender{
    height:20rem;
    width:20rem;
    border-right:1.5px solid #FF5F1F;

}
#notifications{
    height:20rem;
    width:20rem;
    border-right:1.5px solid #FF5F1F;

}
#clocklink{
    height:33rem;
    width:20rem;
    background-color: black;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
     
}
#clock{
    height:12rem;
    width:20rem;
    background-color:rgb(35, 34, 34) ;
    border-right:1.5px solid #FF5F1F;
    border-radius: 10px;
    
}


#link{
    height:20rem;
    width:20rem;
    background-color:rgb(35, 34, 34) ;
   
    border-radius: 10px;
    border-right:1.5px solid #FF5F1F;

}
#main #todo input{
    height:1.5rem;
    position:relative;
    top:3rem;
    text-align:center;
}
#main #todo button{
    height:1.5rem;
    width:2rem;
    position:relative;
    top:3rem;
    text-align:center;
}
#main #todo button{
    border:1px solid #FF5F1F;
}
#main #todo input{
    border:1.5px solid #FF5F1F;
}
.subcontenttitle{
    border-radius: 10px;
    padding-top:1rem;
    text-align:center;
}
.subcontent{
    padding:1rem 0 0 0.5rem;
    text-align:start;
    background-color:rgb(35, 34, 34);
}
#clockpic{
    position: relative;
    top:1rem;
    left:5rem;
    height: 10rem;
    width:10rem;
    border-radius:50%;
    border:15px solid #FF5F1F;
    text-align: center;
}
p{
    position: relative;
    top:3rem; 
    left:1.5rem;
    width:5rem;
    font-size: 25px;
}

#title{
    animation :animate 5s ease-in 0s infinite alternate;
}
h1{
    animation :animate 5s ease-in 0s infinite alternate;
}
@keyframes animate{
    from {background-color:black;
    }
    to {background-color: #FF5F1F ;
    }
}

